.myInput {
    position: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.post_inputTitle {
    margin: 10px;
    padding: 10px;
}
.post_inputBody {
    margin: 10px;
    padding: 10px;
}
.myInputContent {
    padding: 25px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
