* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.input {
    display: flex;
    flex-direction: column;
}
.Posts {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.postList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
